@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: 'Poppins';
  }
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.searchbar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
    padding: 10;
}
  
  /* Estilos adicionales según sea necesario */
  .npnlogo {
    width: 80px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 40;

  }
  .busqueda{
    background-color: #ebe7e7f3;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
    padding: 5;
    
  }
  .magnifyngGlass {
    width: 30px; /* Ajusta el tamaño del icono según sea necesario */
  }
  
  .searchcontainer :placeholder-shown {
    display: flex;
    border: none;
    padding: 9;
    background-color: #ebe7e7f3;
    width: 500;
    font-size: medium;
    
    
  }
  
  .searchbar div button{
    margin-right: 10px; /* Agrega un espacio entre el campo de búsqueda y el botón */
    color:white;
    background-color: #fb3e44;
    padding: 15;
    border: none;

  }
  .User a:nth-child(1){
    color: gray;
    border:2px solid;
    width: 50;
    display: inline-block;
    margin-left: 20;
    text-align: center;
    
  }
  .User a:nth-child(2){
    color: gray;
    margin-left: 7;
  }
  .section1{
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232,217,217,.3);
    text-align: center;
    justify-content: center;
    
    
  } 
  .section1 h1 {
    width: 800;
    font-size:  60;
    
    
  }
  .section1 article{
    width: 500;
    font-size: 20;
    margin-bottom: 30;
  }
  .section1 a:nth-child(1){
    background-color: #FB3B49;
    box-shadow:8px 8px 0 rgba(251,59,73,.2);
    color: white;
    text-decoration: none;
    padding: 20;
    display:inline-block;
    width: 150;
  }
  .section1 a:nth-child(2){
    color: gray;
    text-decoration: none;
    padding: 20;
    display:inline-block;
    width: 150;
    
  }
  .section2{
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232,217,217,.3);
    text-align: center;
    justify-content: center;
    
  }
  .triangleHexagon{
    height: 200;
  }
  .section2 h1{
    padding: 20;
    font-size: 30;
    
  }
  .section2 article{
    border: 1 solid #ccc;
    font-style: italic;
    transform: skew(9deg,0deg);
    font-size: 15;
    margin-bottom: 30;
    width: 660;
  }
  .section3{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      align-content: center;
      background-color: rgba(232,217,217,.3);
      flex-wrap: wrap;
    
  }
  .section3 #zero{
    border: 6px solid #ED1C24;
    padding: 10;
    margin-left: 10;
    height: 300;
    width: 200;
    margin-bottom: 20;
    
    
  }
  .zero{
    height: 30;
  }
  .team{
    height: 30;
  }
  .familiar{
    height: 30;
  }
  .npm{
    height: 30;
  }
  .section3 h1{
    color: #ED1C24;
  }
  .section3 article{
    font-size: 15;
  }
  .section3 a{
    background-color: black;
    box-shadow:8px 8px 0 rgba(128,83,35,.2);
    color: white;
    text-decoration: none;
    padding: 20;
    display:inline-block;
    text-align: center;
  }
  
  
  
  /* Puedes agregar más estilos según tus necesidades */
  